<footer class="footer footer-withcityscape{{ if .classes }} {{ .classes }}{{ end }}">
  <div class="footer-inner">
    <div class="footer-split">
      <div class="footer-body">
        <h3 class="h2">{{ .footer.Params.title }}</h3>
        <p>{{ .footer.Params.row1 | markdownify | safeHTML }}</p>
        <p>{{ .footer.Params.row2 | markdownify | safeHTML }}</p>
        <p>{{ .footer.Params.row3 | markdownify | safeHTML }}</p>
      </div>
      <div class="footer-brand">
        <div class="footer-brand-inner">
          <img alt="Real Change" class="footer-brand-logo" height="63" src="/assets/real-change-logo-x2.png" width="55">
        </div>
        <div class="footer-brand-subtitle">Wigan &amp; Leigh</div>
      </div>
    </div>
    <div class="footer-info" role="contentinfo">
      <p>&copy; {{ dateFormat "2006" now }} Real Change {{ .footer.Params.links | markdownify | safeHTML }}</p>
    </div>
  </div>
</footer>
<!-- Icons made by https://www.flaticon.com/authors/hand-drawn-goods Hand Drawn Goods is licensed by CC 3.0 BY -->