<footer class="footer">
  <div class="footer-inner">
    <div class="footer-split">
      <div class="footer-brand">
        <img alt="Proud of Doncaster Proud to Care" class="footer-brand-logo" height="57" src="/assets/doncaster-proud-to-care-logo-white.png" width="253">
      </div>
      <div class="footer-body">
        <h3 class="footer-body-title">{{ .footer.Params.title }}</h3>
        <p>{{ .footer.Params.row1 | markdownify | safeHTML }}</p>
        <p>{{ .footer.Params.row2 | markdownify | safeHTML }}</p>
        <p>{{ .footer.Params.row3 | markdownify | safeHTML }}</p>
        <div class="footer-info" role="contentinfo">
          <p>&copy; {{ dateFormat "2006" now }} Real Change {{ .footer.Params.links | markdownify | safeHTML }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>