<header class="header decor decor-bottom decor-rc-sunny{{ if .classes }} {{ .classes }}{{ end }}" role="banner"{{ if .background }} style="background-image: url({{ .background }});" {{ end }}>
    <a class="header-skip" href="#main">Skip to main content</a>
    <div class="header-wrap">
      <div class="header-inner">
        <div class="header-brand">
          <a href="/">
            <div class="header-brand-inner bg-rc-moss">
              <img alt="Real Change" class="header-brand-logo" height="63" src="/assets/real-change-logo-x2.png" width="55">
            </div>
            <div class="header-brand-subtitle">Rochdale</div>
          </a>
        </div>
