<header class="header" role="banner">
  <a class="header-skip" href="#main">Skip to main content</a>
  <div class="header-wrap">
    <div class="header-inner">
      <div class="header-brand">
        <a href="/"><img alt="Proud of Doncaster Proud to Care" class="header-brand-logo" height="38" src="/assets/doncaster-proud-to-care-logo-white.png" width="171"></a>
      </div>
      <nav class="header-body" role="navigation" aria-labelledby="nav-site">
        <h2 class="sr-only" id="nav-site">Site navigation</h2>
        <ul class="header-nav">
          <li><a href="/about-us/">About us</a></li>
          <li><a href="/how-it-works/">How it works</a></li>
          <li><a href="/how-to-apply/">How to apply</a></li>
          <li><a href="/get-involved/">Get involved</a></li>
          <li class="header-nav-donate"><a class="button button-primary" href="https://www.justgiving.com/campaign/realhelpdoncaster" target="_blank">Donate</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>