<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{.Title}} {{.Site.Title}}</title>
<link rel="preload" href="/assets/barlowsemicondensed-bold.woff2" as="font" type="font/woff2">
<link rel="preload" href="/assets/barlowsemicondensed-bold.woff" as="font" type="font/woff">
<link rel="preload" href="/assets/barlowsemicondensed-light.woff2" as="font" type="font/woff2">
<link rel="preload" href="/assets/barlowsemicondensed-light.woff" as="font" type="font/woff">
<link rel="preload" href="/assets/barlowsemicondensed-regular.woff2" as="font" type="font/woff2">
<link rel="preload" href="/assets/barlowsemicondensed-regular.woff" as="font" type="font/woff">
<link rel="preload" href="/assets/373e2d-bold.woff2" as="font" type="font/woff2">
<link rel="preload" href="/assets/373e2d-bold.woff" as="font" type="font/woff">
<link rel="preload" href="/assets/373e2d-light.woff2" as="font" type="font/woff2">
<link rel="preload" href="/assets/373e2d-light.woff" as="font" type="font/woff">
<link rel="preload" href="/assets/373e2d-regular.woff2" as="font" type="font/woff2">
<link rel="preload" href="/assets/373e2d-regular.woff" as="font" type="font/woff">
{{ $styleMain := resources.Get "realchange.css" | resources.Minify | resources.Fingerprint }}<link rel="stylesheet" href="{{ $styleMain.Permalink }}">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>