<div class="hero hero-alt">
  <div class="hero-inner">
    {{ if or (.pretitle) (.title) (.subtitle) }}
    <h1>
      {{ if .pretitle }}<span class="hero-pretitle">{{ .pretitle | safeHTML }} </span>{{ end }}
      {{ if .title }}<span class="hero-title">{{ .title | safeHTML }} </span>{{ end }}
      {{ if .subtitle }}<span class="hero-subtitle">{{ .subtitle | safeHTML }} </span>{{ end }}
    </h1>
    {{ end }}
    {{ if .body }}
      {{ $heroBodyMarkdown := .body | markdownify }}
      {{ if not ( strings.Contains $heroBodyMarkdown "<p>" ) }}<p>{{ $heroBodyMarkdown }}</p>{{ else }}{{ $heroBodyMarkdown }}{{ end }}
    {{ end }}
    {{ if .button.url }}<a class="button button-primary" href="{{ .button.url }}">{{ .button.text }}</a>{{ end }}
  </div>
</div>