// Fonts
//

// @import must be at top of file, otherwise CSS will not work
// Uncomment for live site to ensure meet webfont license
@import url("//hello.myfonts.net/count/373e2d");

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Semi Condensed Bold'),
       local('BarlowSemiCondensed-Bold'),
       url('assets/barlowsemicondensed-bold.woff2') format('woff2'),
       url('assets/barlowsemicondensed-bold.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Barlow Semi Condensed Light'),
       local('BarlowSemiCondensed-Light'),
       url('assets/barlowsemicondensed-light.woff2') format('woff2'),
       url('assets/barlowsemicondensed-light.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Semi Condensed Regular'),
       local('BarlowSemiCondensed-Regular'),
       url('assets/barlowsemicondensed-regular.woff2') format('woff2'),
       url('assets/barlowsemicondensed-regular.woff') format('woff');
}

@font-face {
  font-family: 'LunchBox';
  font-style: normal;
  font-weight: 700;
  src: local('LunchBox-Bold'),
       url('assets/373e2d-bold.woff2') format('woff2'),
       url('assets/373e2d-bold.woff') format('woff');
}

@font-face {
  font-family: 'LunchBox';
  font-style: normal;
  font-weight: 300;
  src: local('LunchBox-Light'),
       url('assets/373e2d-light.woff2') format('woff2'),
       url('assets/373e2d-light.woff') format('woff');
}

@font-face {
  font-family: 'LunchBox';
  font-style: normal;
  font-weight: 400;
  src: local('LunchBox'),
       url('assets/373e2d-regular.woff2') format('woff2'),
       url('assets/373e2d-regular.woff') format('woff');
}
