{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <article class="section casestudy">
    <div class="container">
      <div class="casestudy-header">
        {{ if .Params.content.image }}
        <div class="casestudy-header-media aspect-bg aspect-bg-4by3">
          <div class="aspect aspect-4by3">
            <img alt="" src="{{ .Params.content.image }}">
          </div>
        </div>
        {{ end }}
        <div class="casestudy-header-body">
          {{ if .Params.content.name }}<h4 class="h2 mb-n">Name:</h4><p>{{ .Params.content.name }}</p>{{ end }}
          {{ if .Params.content.age }}<h4 class="h2 mb-n">Age:</h4><p>{{ .Params.content.age }}</p>{{ end }}
          {{ if .Params.content.help }}<h4 class="h2 mb-n">Help Received:</h4><p>{{ .Params.content.help }}</p>{{ end }}
        </div>
      </div>
      <div class="casestudy-body">
        <div class="content">
          {{ $contentBodyMarkdown := .Params.content.body | markdownify }}
          {{ if not ( strings.Contains $contentBodyMarkdown "<p>" ) }}<p>{{ $contentBodyMarkdown }}</p>{{ else }}{{ $contentBodyMarkdown }}{{ end }}
        </div>
      </div>
    </div>
  </article>

  <section class="section">
    <div class="container">
      <div class="content">
        <h3>{{ .Params.realchange.heading }}</h3>
        {{ $realchangeBodyMarkdown := .Params.realchange.body | markdownify }}
        {{ if not ( strings.Contains $realchangeBodyMarkdown "<p>" ) }}<p>{{ $realchangeBodyMarkdown }}</p>{{ else }}{{ $realchangeBodyMarkdown }}{{ end }}
        <a class="button button-primary d-block d-sm-inline-block mb-sm" href="{{ .Params.realchange.button.url }}">{{ .Params.realchange.button.text }}</a>
      </div>
    </div>
  </section>

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}