// Backgrounds
//

.bg-black { background-color: $color-black !important; }
.bg-white { background-color: $color-white !important; }
.bg-rh-black { background-color: $color-rh-black !important; }
.bg-rh-blue { background-color: $color-rh-blue !important; }
.bg-rh-yellow { background-color: $color-rh-yellow !important; }
.bg-primary { background-color: $color-primary !important; }

.bg-rh-black,
.bg-rh-blue,
.bg-rh-yellow,
.bg-primary {
  a:not(.button) {
    color: $color-white;

    @include hover {
      color: $color-rh-black;
    }
  }
}
