// Spacing
//

.mx-a { margin-left: auto !important; margin-right: auto !important; }
.mx-n { margin-left: 0 !important; margin-right: 0 !important; }

.mb-n { margin-bottom: 0 !important; }
.mb-sm { margin-bottom: $spacer * 1 !important; }
.mb-md { margin-bottom: $spacer * 2 !important; }
.mb-lg { margin-bottom: $spacer * 3 !important; }

.mt-n { margin-top: 0 !important; }
.mt-sm { margin-top: $spacer * 1 !important; }
.mt-md { margin-top: $spacer * 2 !important; }
.mt-lg { margin-top: $spacer * 3 !important; }

.ml-n { margin-left: 0 !important; }
.ml-sm { margin-left: $spacer * 1 !important; }
.ml-md { margin-left: $spacer * 2 !important; }
.ml-lg { margin-left: $spacer * 3 !important; }
.ml-xl { margin-left: $spacer * 4 !important; }

.mr-n { margin-right: 0 !important; }
.mr-sm { margin-right: $spacer * 1 !important; }
.mr-md { margin-right: $spacer * 2 !important; }
.mr-lg { margin-right: $spacer * 3 !important; }
