{{ define "main" }}
{{ partial "header.html" .Params.header }}

{{ if .Params.header.hero }}
<div class="header-hero">
  <h1 class="header-hero-title">{{ .Params.header.hero | markdownify | safeHTML }}</h1>
</div>
{{ end }}

<div id="main">

  <section class="section home-intro">
    <div class="container">
      <div class="boxed bg-rh-black home-intro-whatis">
        <div class="boxed-inner">
          <h2>{{ .Params.whatis.heading }}</h2>
          {{ $whatisBodyMarkdown := .Params.whatis.body | markdownify }}
          {{ if not ( strings.Contains $whatisBodyMarkdown "<p>" ) }}<p>{{ $whatisBodyMarkdown }}</p>{{ else }}{{ $whatisBodyMarkdown }}{{ end }}
          {{ if .Params.whatis.button.url }}<a class="button d-block" href="{{ .Params.whatis.button.url }}">{{ .Params.whatis.button.text }}</a>{{ end }}
        </div>
        <div class="boxed-media aspect aspect-6by5">
          <img alt="" class="aspect-item" src="{{ .Params.whatis.image }}">
        </div>
      </div>
      <div class="home-intro-split">
        <div class="boxed home-intro-who">
          <div class="boxed-inner">
            <h2>{{ .Params.who.heading }}</h2>
            {{ $whoBodyMarkdown := .Params.who.body | markdownify }}
            {{ if not ( strings.Contains $whoBodyMarkdown "<p>" ) }}<p>{{ $whoBodyMarkdown }}</p>{{ else }}{{ $whoBodyMarkdown }}{{ end }}
          </div>
        </div>
        <div class="boxed bg-rh-black home-intro-apply">
          <div class="boxed-inner">
            <h2>{{ .Params.how.heading }}</h2>
            {{ $howBodyMarkdown := .Params.how.body | markdownify }}
            {{ if not ( strings.Contains $howBodyMarkdown "<p>" ) }}<p>{{ $howBodyMarkdown }}</p>{{ else }}{{ $howBodyMarkdown }}{{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ with .Site.GetPage "section" "stories" }}{{ if eq .Params.showonhome true }}
  <section class="section home-stories">
    <div class="container">
      <div class="home-stories-header">
        <h2 class="h1 home-stories-title">
          {{ with .Site.GetPage "section" "stories" }}{{ .Params.heading }}{{ end }}
        </h2>
      </div>
      <div class="home-stories-body">
        {{ range first 2 (where .Site.RegularPages.ByDate.Reverse "Section" "stories") }}
        <div class="card-story card-stroy-witharrow">
          <h3 class="card-story-title">{{ .Params.summary.heading }}</h3>
          <div class="card-story-image aspect aspect-5by2">
            <img alt="" src="{{ .Params.summary.image }}">
          </div>
          <a class="card-story-cta" href="{{ .Permalink }}">{{ .Params.summary.text }}</a>
        </div>
        {{ end }}
      </div>
      <div class="home-stories-footer text-center">
        {{ with .Site.GetPage "section" "stories" }}<a class="button button-primary" href="{{ .Params.button.url }}">{{ .Params.button.text }}</a>{{ end }}
      </div>
    </div>
  </section>
  {{ end }}{{ end }}

  <section class="section home-partners">
    <div class="container">
      <div class="home-partners-header">
        <h2 class="h1 home-partners-title">{{ .Params.partners.heading }}</h2>
      </div>
      {{ if .Params.partners.youtube }}
      <div class="home-partners-media aspect-bg aspect-bg-2by1">
        <div class="aspect aspect-2by1">
          <iframe src="{{ .Params.partners.youtube }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      {{ end }}
      {{ if .Params.partners.image }}
      <div class="home-partners-media aspect-bg aspect-bg-2by1">
        <div class="aspect aspect-2by1">
          <img alt="" src="{{ .Params.partners.image }}">
        </div>
      </div>
      {{ end }}
      <div class="home-partners-body">
        {{ $partnersBodyMarkdown := .Params.partners.body | markdownify }}
        {{ if not ( strings.Contains $partnersBodyMarkdown "<p>" ) }}<p>{{ $partnersBodyMarkdown }}</p>{{ else }}{{ $partnersBodyMarkdown }}{{ end }}
        {{ .Params.partners.list | markdownify | replaceRE "<ul>" "<ul class=\"list-flex font-weight-bold\">" | safeHTML }}
      </div>
    </div>
  </section>

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}