// Card
//

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.card-header,
.card-body {
  padding: 1.25rem;

  > :last-child {
    margin-bottom: 0;
  }
}
.card-body {
  flex: 1 0 auto;
}

.card-title {
  font-family: $font-family-rc-barlowsemicondensed;
  font-size: ($font-size-base * 1.1111111111); // 20px
  line-height: 1.3; // 26px

  @include media-breakpoint-up(md) {
    font-size: ($font-size-base * 1.3333333333); // 24px
    line-height: 1.3333333333; // 32px
  }
}

.cards {
  margin: 2rem 0;

  @include media-breakpoint-up(sm) {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;

    .card {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.cards-2up {
  .card {
    flex: 1 1 50%;
  }
}

.card-story {
  background-color: $color-white;
  border-radius: 15px;
  color: $color-black;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
  }
}

.card-story-title {
  font-family: $font-family-rc-barlowsemicondensed;
  font-size: ($font-size-base * 1.1111111111); // 20px

  order: 2;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  padding: 0 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: ($font-size-base * 1.3333333333); // 24px
  }
}

.card-story-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  order: 1;
}

.card-story-cta {
  color: $color-rc-moss !important;
  font-weight: $font-weight-bold;
  order: 3;
  margin-bottom: 1rem;
  padding: 0 1.5rem;

  @include hover {
    color: $color-black !important;
  }
}

.card-stroy-witharrow {
  margin-bottom: 3.5rem !important;
  position: relative;

  &::after {
    border: 0 solid transparent;
    border-left-width: 2.5rem;
    border-right-width: 0px;
    border-top: 2.5rem solid white;
    bottom: -2.45rem;
    content: "";
    position: absolute;
    height: 0;
    right: 4rem;
    width: 0;
  }
}
