// Home
//

.home-header {
  .header-hero {
    margin-top: -2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(sm) {
      margin-top: -4rem;
      padding-left: 0;
      padding-right: 0;
    }

    @include media-breakpoint-up(md) {
      margin-top: -6rem;
      padding-bottom: 3rem;
    }
  }

  .header-hero-title,
  .header-hero-title strong {
    font-size: 48px;

    @include media-breakpoint-up(sm) {
      font-size: 58px;
    }

    @include media-breakpoint-up(md) {
      font-size: 90px;
    }
  }
}

.home-intro {
  .boxed {
    margin-left: 0.75rem;
    margin-right: 0.75rem;

    @include media-breakpoint-up(md) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      margin-right: 0;
    }

    a {
      font-weight: $font-weight-bold;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.home-intro-split {
  @include media-breakpoint-up(sm) {
    display: flex;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .boxed {
    @include media-breakpoint-up(sm) {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    @include media-breakpoint-up(md) {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }
}

.home-intro-whatis {
  @include media-breakpoint-up(sm) {
    align-items: center;
    display: flex;
  }

  .boxed-inner {
    position: relative;
    z-index: 50;

    @include media-breakpoint-up(sm) {
      flex: 1;
      max-width: 300px;
      min-width: 300px;
    }

    @include media-breakpoint-up(md) {
      max-width: 340px;
      min-width: 340px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 410px;
      min-width: 410px;
    }
  }

  .boxed-media {
    margin: -6rem -0.5rem 0;
    overflow: visible;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 1;

    @media (min-width: 420px) {
      margin-top: -7rem;
    }

    @include media-breakpoint-up(sm) {
      margin: -1rem -0.75rem -1rem 0;
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      margin: -2rem -1rem -2rem 0;
    }

    @include media-breakpoint-up(lg) {
      margin: -2rem -2rem -2rem 0;
    }

    img {
      top: 10%;

      @include media-breakpoint-up(sm) {
        top: 0;
      }
    }
  }
}

// .home-intro-apply {
// }

// .home-stories {
// }

.home-stories-header {
  // background-image: url(assets/home-stories-header.png), url(assets/home-stories-header.png);
  // background-repeat: no-repeat;
  // background-position: 50% 0%, 50% 100%;
  // background-size: 100% 10px, 100% 10px;
  margin-bottom: 1.25rem;
  margin-left: (0.75rem + 1.625rem);
  margin-right: (0.75rem + 1.625rem);
  // padding-bottom: 0.25rem;
  // padding-top: 0.25rem;
  // position: relative;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-bottom: 2rem;
  }

  @media (min-width: 900px) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 0;
    margin-right: 0;
  }

  // &::before,
  // &::after {
  //   background-image: url(assets/home-stories-header-ba.png);
  //   background-position: 0 50%;
  //   background-repeat: no-repeat;
  //   bottom: 0;
  //   content: "";
  //   display: block;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   width: 26px;
  // }

  // &::before {
  //   left: -1.625rem;
  // }

  // &::after {
  //   background-position: 100% 50%;
  //   right: -1.625rem;
  // }
}

.home-stories-title {
  margin-bottom: 0;
  // padding: 0.75rem 1rem;
}

// MS Edge 13&14
//
// @supports (-ms-ime-align: auto) {
//   .home-stories-title {
//     padding-top: 0.5rem;
//   }
// }

.home-stories-body {
  margin-bottom: 2rem;

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .card-story {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    max-width: 47%;
    min-width: 47%;

    @include media-breakpoint-up(sm) {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    @include media-breakpoint-up(md) {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.home-partners-header {
  margin-bottom: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.home-partners-title {
  svg {
    display: block;
    color: $color-black;
    fill: currentColor;
    height: 44px;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 44px;

    @include media-breakpoint-up(sm) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 1rem;
      position: relative;
      top: 4px;
    }
  }
}

.home-partners-media {
  margin-bottom: 2rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.home-partners-body {
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  @include media-breakpoint-up(md) {
    @include container;
    max-width: 660px;
  }
}
