// Home
//

.home-intro {
  padding-top: 1rem;

  .boxed {
    a {
      font-weight: $font-weight-bold;
    }

    p {
      margin-bottom: 0.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .boxed-inner {
    @include media-breakpoint-up(md) {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
  }
}

.home-intro-split {
  @include media-breakpoint-up(sm) {
    display: flex;
  }

  @media (min-width: #{$container-max-width + 16}) {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .boxed {
    background-color: $color-rh-grey-light;
    margin-left: 0.625rem;
    margin-right: 0.625rem;

    @include media-breakpoint-up(sm) {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    @include media-breakpoint-up(md) {
      background-color: transparent;
      background-image: url(assets/boxed.png);
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .boxed-inner {
    @include media-breakpoint-up(md) {
      background-image: url(assets/boxed-inner.png);
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

.home-intro-whatis {
  @include media-breakpoint-up(sm) {
    align-items: center;
    display: flex;
  }

  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }

  .boxed-inner {
    flex: 1;

    @include media-breakpoint-up(sm) {
      padding-right: 1.5rem;
    }

    @include media-breakpoint-up(md) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  .boxed-media {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}

.home-intro-who {
  p {
    font-weight: $font-weight-light;
  }
}

.home-intro-apply {
  p {
    font-weight: $font-weight-light;
  }
}

.home-partners {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.home-partners-header {
  margin-bottom: 1rem;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-bottom: 2rem;
  }
}

.home-partners-title {
}

.home-partners-media {
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.home-partners-body {
  @include media-breakpoint-up(md) {
    @include container;
    max-width: 720px;
  }

  p {
    margin-bottom: 0.25rem;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
