// How it Works
//

.howitworks-stats {
  align-items: flex-start;
  
  @include media-breakpoint-up(sm) {
    display: flex;
  }
}

.howitworks-stats-body {
  flex: 1;
}

.howitworks-stats-media {
  align-self: flex-end;
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    height: 320px;
    margin-left: 1em;
    margin-top: 0;
    max-width: 320px;
    width: 320px;
  }

  @include media-breakpoint-up(lg) {
    height: 420px;
    margin-right: -100px;
    max-width: 420px;
    width: 420px;
  }
}
