// Edge
//

.edge {
  position: relative;
}

.edge-bottom::after,
.edge-top::before {
  content: '';
  display: block;
  height: $edge-height;
}

.edge-top::before {
  background-position: 50% 0;
  background-repeat: repeat-x;
  left: 0;
  position: absolute;
  right: 0;
  top: -1rem;
}

.edge-top-offset-1::before {
  background-position: 25% 0;
}

.edge-top-offset-2::before {
  background-position: 75% 0;
}

.edge-rc-aubergine-top::before {
  background-image: url(assets/edge-rc-aubergine-top.png);
}

.edge-rc-blue-top::before {
  background-image: url(assets/edge-rc-blue-top.png);
}

.edge-rc-candy-top::before {
  background-image: url(assets/edge-rc-candy-top.png);
}

.edge-rc-dive-top::before {
  background-image: url(assets/edge-rc-dive-top.png);
}

.edge-rc-moss-top::before {
  background-image: url(assets/edge-rc-moss-top.png);
}

.edge-rc-sunny-top::before {
  background-image: url(assets/edge-rc-sunny-top.png);
}

.edges {
  background-image: url(assets/edges-left.png), url(assets/edges-right.png);
  background-position: 0 0, 100% 0;
  background-repeat: repeat-y, repeat-y;
  background-size: 4px 336px, 4px 336px;
  position: relative;

  &::before,
  &::after {
    background-repeat: repeat-x;
    background-size: 840px 4px;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &::before {
    background-image: url(assets/edges-top.png);
    background-position: 0 0;
    top: 0;
  }

  &::after {
    background-image: url(assets/edges-bottom.png);
    background-position: 100% 100%;
    bottom: 0;
  }
}

.edges-notop {
  &::before {
    display: none;
  }
}

.edges-nobottom {
  &::after {
    display: none;
  }
}

.edges-rc-dive {
  background-image: url(assets/edges-rc-dive-left.png), url(assets/edges-rc-dive-right.png);

  &::before {
    background-image: url(assets/edges-rc-dive-top.png);
  }

  &::after {
    background-image: url(assets/edges-rc-dive-bottom.png);
  }
}

.edges-rc-moss {
  background-image: url(assets/edges-rc-moss-left.png), url(assets/edges-rc-moss-right.png);

  &::before {
    background-image: url(assets/edges-rc-moss-top.png);
  }

  &::after {
    background-image: url(assets/edges-rc-moss-bottom.png);
  }
}
