// Header
//

.header-skip {
  @include sr-only;
  @include sr-only-focusable;

  background-color: $color-white;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
  padding: 1rem;
  position: absolute;

  &:active,
  &:focus {
    position: absolute;
  }
}

.header {
  background-color: $color-rc-sunny;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white-sec;
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  // decor-bottom
  &::after {
    z-index: 50;
  }
}

.header-wrap {
  overflow: hidden;
  padding-bottom: 1rem;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-bottom: 1.5rem;
  }

  &::before {
    background-color: $color-rc-candy;
    bottom: 0;
    content: "";
    display: block;
    left: 172px;
    margin-right: -400px;
    position: absolute;
    right: 50%;
    top: 0;
    transform: skew(-44deg, 0deg);
    transform-origin: 0 0;
    user-select: none;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      left: 252px;
      margin-right: 0;
      right: -152px;
    }

    @include media-breakpoint-up(md) {
      margin-left: -52px;
      left: 50%;
    }
    
    @include media-breakpoint-up(lg) {
      margin-left: -152px;
      right: -100px;
    }

    @include media-breakpoint-up(xl) {
      right: 0;
    }
  }
}

.header-inner {
  @include container;
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 50;
}

.header-brand {
  a {
    color: $color-black;
    text-decoration: none;
  }
}

.header-brand-inner {
  align-items: flex-end;
  display: inline-flex;
  height: 80px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: top;
  width: 65px;

  @include media-breakpoint-up(sm) {
    height: 118px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 96px;
  }

  @include media-breakpoint-up(md) {
    height: 160px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 130px;
  }
}

.header-brand-subtitle {
  font-family: $font-family-rc-lunchbox;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  margin-top: 4px;
  text-align: center;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-base;
    margin-top: 2px;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-xl;
  }
}

.header-brand-logo {
  height: 63px;
  margin-bottom: -1px;
  margin-left: -1px;
  max-width: 100%;
  width: 55px;

  @include media-breakpoint-up(sm) {
    height: 94px;
    width: 82px;
  }

  @include media-breakpoint-up(md) {
    height: 126px;
    width: 110px;
  }
}

.header-body {
  margin-left: auto;
  padding-right: 0.5rem;
  padding-top: 1.125rem;

  @include media-breakpoint-down(sm) {
    flex: 1 1 0%;
    text-align: right;
  }

  @include media-breakpoint-up(md) {
    padding-right: 1rem;
    padding-top: 2.125rem;
  }
}

.header-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  @include media-breakpoint-down(sm) {
    justify-content: flex-end;
  }

  li {
    margin-bottom: 0.25rem;
  }

  li + li {
    margin-left: 0.25rem;

    @include media-breakpoint-up(sm) {
      margin-left: 0.375rem;
    }

    @include media-breakpoint-up(md) {
      margin-left: 0.5rem;
    }
  }

  a {
    color: $color-black;
    display: block;
    font-weight: $font-weight-bold;
    padding: 0.25rem 0.175rem;
    text-decoration: none;

    @include media-breakpoint-up(md) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @include hover {
      color: $color-white;
    }
  }

  .header-nav-active {
    a {
      // color: $color-white;
      text-decoration: underline;
    }
  }

  .header-nav-donate {
    margin-left: 0.5rem;

    @include media-breakpoint-up(md) {
      margin-left: 1rem;
      margin-top: -2px;
    }

    a {
      font-size: $font-size-base;
      line-height: 1.1111111111;
      padding: 0.1875rem 0.75rem;

      &:focus,
      &:hover {
        color: lighten($color-black, 5%);
      }

      @include media-breakpoint-up(md) {
        font-size: $font-size-lg;
        padding: 0.375rem 2rem 0.125rem 2rem;
      }
    }
  }
}

.header-hero {
  flex: 1 0 100%;
  padding: 1rem 3rem 2rem;
  order: 4;
  text-align: center;

  @include media-breakpoint-up(sm) {
    margin-top: -3rem;
  }

  @include media-breakpoint-up(md) {
    margin-top: -5rem;
  }
}

.header-hero-title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  @include media-breakpoint-up(md) {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  span {
    display: block;
  }

  strong {
    display: block;
    // margin-left: -1rem;
    // margin-right: -1rem;
    font-size: 58px;
  
    @include media-breakpoint-up(md) {
      font-size: 70px;
    }
  }
}
