{{ define "main" }}
{{ partial "header.html" .Params.header }}
{{ partial "hero.html" .Params.hero }}

<div id="main">

  <div class="section">
    <div class="container">
      <div class="content">
        {{ $contentMarkdown := .Params.content | markdownify }}
        {{ if not ( strings.Contains $contentMarkdown "<p>" ) }}<p>{{ $contentMarkdown }}</p>{{ else }}{{ $contentMarkdown }}{{ end }}
      </div>
    </div>
  </div>

  {{ if .Params.section }}
  <section class="section">
    <div class="container">
      <div class="content">
        <h2>{{ .Params.section.heading }}</h2>
        <div class="getinvolved-section">
          <div class="getinvolved-section-body">
          {{ $sectionBodyMarkdown := .Params.section.body | markdownify }}
          {{ if not ( strings.Contains $sectionBodyMarkdown "<p>" ) }}<p>{{ $sectionBodyMarkdown }}</p>{{ else }}{{ $sectionBodyMarkdown }}{{ end }}
          </div>
          {{ if .Params.section.image }}
          <div class="getinvolved-section-media aspect aspect-4by3">
            <img alt="" src="{{ .Params.section.image }}">
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}
