{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  <div class="section">
    <div class="container">
      <div class="content">
        {{ $contentMarkdown := .Params.content | markdownify }}
        {{ if not ( strings.Contains $contentMarkdown "<p>" ) }}<p class="body-lg">{{ $contentMarkdown }}</p>{{ else }}{{ $contentMarkdown }}{{ end }}
        {{ .Params.list | markdownify | replaceRE "<ul>" "<ul class=\"list-flex font-weight-bold\">" | safeHTML }}
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="content">
        <h3>{{ .Params.partners.heading }}</h3>
        {{ $partnersBodyMarkdown := .Params.partners.body | markdownify }}
        {{ if not ( strings.Contains $partnersBodyMarkdown "<p>" ) }}<p>{{ $partnersBodyMarkdown }}</p>{{ else }}{{ $partnersBodyMarkdown }}{{ end }}
      </div>
    </div>
  </section>

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}
