{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  <div class="section">
    <div class="container">
      <div class="content text-center">
        {{ $introBodyMarkdown := .Params.intro.body | markdownify }}
        {{ if not ( strings.Contains $introBodyMarkdown "<p>" ) }}<p class="body-lg">{{ $introBodyMarkdown }}</p>{{ else }}{{ $introBodyMarkdown }}{{ end }}
        {{ if .Params.intro.button.url }}<a class="button button-primary d-block d-sm-inline-block mb-sm mt-md" href="{{ .Params.intro.button.url }}">{{ .Params.intro.button.text }}</a>{{ end }}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="content">
        <div class="howitworks-stats">
          <div class="howitworks-stats-body">
            <h2>{{ .Params.where.heading }}</h2>
            {{ $whereBodyMarkdown := .Params.where.body | markdownify }}
            {{ if not ( strings.Contains $whereBodyMarkdown "<p>" ) }}<p>{{ $whereBodyMarkdown }}</p>{{ else }}{{ $whereBodyMarkdown }}{{ end }}
            <div class="stats">
              <div class="stat">
                <div class="stat-img">
                  <img alt="{{ .Params.where.stat1.count }}" src="{{ .Params.where.stat1.image }}">
                </div>
                <div class="stat-body">
                  <p><strong class="stat-count">{{ .Params.where.stat1.count }}</strong> {{ .Params.where.stat1.text }}</p>
                </div>
              </div>
              <div class="stat">
                <div class="stat-img">
                  <img alt="{{ .Params.where.stat2.count }}" src="{{ .Params.where.stat2.image }}">
                </div>
                <div class="stat-body">
                  <p><strong class="stat-count">{{ .Params.where.stat2.count }}</strong> {{ .Params.where.stat2.text }}</p>
                </div>
              </div>
              {{ if .Params.where.stat3.count }}
              <div class="stat">
                <div class="stat-img">
                  <img alt="{{ .Params.where.stat3.count }}" src="{{ .Params.where.stat3.image }}">
                </div>
                <div class="stat-body">
                  <p><strong class="stat-count">{{ .Params.where.stat3.count }}</strong> {{ .Params.where.stat3.text }}</p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
          {{ if .Params.where.image }}
          <div class="howitworks-stats-media aspect aspect-4by3">
            <img alt="" src="{{ .Params.where.image }}">
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="content">
        <h3>{{ .Params.how.heading }}</h3>
        {{ $howBodyMarkdown := .Params.how.body | markdownify }}
        {{ if not ( strings.Contains $howBodyMarkdown "<p>" ) }}<p>{{ $howBodyMarkdown }}</p>{{ else }}{{ $howBodyMarkdown }}{{ end }}
        <div class="cards cards-2up">
          <div class="card bg-white">
            <div class="card-header bg-rh-black text-white">
              <h3 class="card-title">{{ .Params.how.card1.heading }}</h3>
              <p><strong>{{ .Params.how.card1.subheading }}</strong></p>
            </div>
            <div class="card-body">
              {{ $card1BodyMarkdown := .Params.how.card1.body | markdownify }}
              {{ if not ( strings.Contains $card1BodyMarkdown "<p>" ) }}<p>{{ $card1BodyMarkdown }}</p>{{ else }}{{ $card1BodyMarkdown }}{{ end }}
            </div>
          </div>
          <div class="card bg-white">
            <div class="card-header bg-rh-black text-white">
              <h3 class="card-title">{{ .Params.how.card2.heading }}</h3>
              <p><strong>{{ .Params.how.card2.subheading }}</strong></p>
            </div>
            <div class="card-body">
              {{ $card2BodyMarkdown := .Params.how.card2.body | markdownify }}
              {{ if not ( strings.Contains $card2BodyMarkdown "<p>" ) }}<p>{{ $card2BodyMarkdown }}</p>{{ else }}{{ $card2BodyMarkdown }}{{ end }}
            </div>
          </div>
        </div>
        <div class="text-center mt-sm">
          {{ if .Params.how.button.url }}<a class="button button-primary d-block d-sm-inline-block mb-sm" href="{{ .Params.how.button.url }}">{{ .Params.how.button.text }}</a>{{ end }}
        </div>
      </div>
    </div>
  </section>

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}
