{{ define "main" }}
{{ partial "header.html" .Params.header }}
{{ partial "hero.html" .Params.hero }}

<div id="main">

  <div class="section">
    <div class="container">
      <div class="content">
        {{ $contentMarkdown := .Params.content | markdownify }}
        {{ if not ( strings.Contains $contentMarkdown "<p>" ) }}<p>{{ $contentMarkdown }}</p>{{ else }}{{ $contentMarkdown }}{{ end }}
      </div>
    </div>
  </div>

  {{ if .Params.partners }}
  <section class="section bg-rh-grey-light">
    <div class="container">
      <div class="content">
        <h3>{{ .Params.partners.heading }}</h3>
        {{ $partnersBodyMarkdown := .Params.partners.body | markdownify }}
        {{ if not ( strings.Contains $partnersBodyMarkdown "<p>" ) }}<p>{{ $partnersBodyMarkdown }}</p>{{ else }}{{ $partnersBodyMarkdown }}{{ end }}
      </div>
    </div>
  </section>
  {{ end }}

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}
