{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  {{ with .Site.GetPage "Section" "events" }}
  {{ if .Params.intro }}
  <div class="section">
    <div class="container">
      <div class="content body-lg">
        {{ .Params.intro | markdownify }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}

  <section class="section home-stories bg-rc-spark edge edge-top edge-rc-spark-top">
    <div class="container">
      <div class="home-stories-header">
        <h2 class="h1 home-stories-title">
          {{ with .Site.GetPage "section" "events" }}{{ .Params.heading }}{{ end }}
        </h2>
      </div>
      <div class="home-stories-body">
  {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "events") }}
  <div class="card-story card-stroy-witharrow">
    <h3 class="card-story-title">{{ .Params.rename.heading }}</h3>
    <div class="card-story-image aspect aspect-5by2 bg-rc-spark">
      <img alt="" src="{{ .Params.rename.image }}">
    </div>
    <a class="card-story-cta" href="{{ .Permalink }}">{{ .Params.rename.text }}</a>
  </div>
  {{ end }}
      </div>
    </div>
  </section>

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}