---
title: "Styleguide"
layout: styleguide
---
<div class="container">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="index.html">Real Change</a></li>
      <li class="active">Styleguide</li>
    </ul>
  </nav>

  <section class="styleguide-section">
    <div class="styleguide-intro">
      <h1>Real Change Styleguide</h1>
      <p>Components and Pages that are used to make up a Real Change website.</p>
    </div>
  </section>

  <div class="styleguide-columns styleguide-columns-mw80">
    <section class="styleguide-section">
      <h2 class="styleguide-h2">Components</h2>
      <ul>
        <li><a href="styleguide-boxed.html">Boxed</a></li>
        <li><a href="styleguide-button.html">Button</a></li>
        <li><a href="styleguide-colours.html">Colours</a></li>
        <li><a href="styleguide-footer.html">Footer</a></li>
        <li><a href="styleguide-header.html">Header</a></li>
        <li><a href="styleguide-typography.html">Typography</a></li>
        <li><a href="styleguide-utilities.html">Utilities</a></li>
      </ul>
    </section>
    <section class="styleguide-section">
      <h2 class="styleguide-h2">Pages</h2>
      <ul>
        <li><a href="page-home.html">Home</a></li>
        <li><a href="page-stories.html">Stories</a></li>
        <li><a href="page-casestudy.html">Case Study</a></li>
        <li><a href="page-howitworks.html">How it Works</a></li>
        <li><a href="page-howtoapply.html">How to Apply</a></li>
        <li><a href="page-getinvolved.html">Get Involved</a></li>
        <li><a href="page-content.html">Content</a></li>
        <li><a href="page-privacy.html">Privacy Policy</a></li>
      </ul>
    </section>
  </div>

</div>