---
title: "Home"
layout: default
header_nav_home: true
---
{{> header header__nav=true }}

<div class="home-hero">
{{> hero
    hero__pretitle=false
    hero__title="Real Help Doncaster"
    hero__subtitle=false
    hero__body="A local fund that helps homeless and vulnerable people off the street and into a healthier and safer lifestyle."
    hero__button__text="Donate and make a change"
}}
</div>

<div id="main">
  <section class="section home-intro">
    <div class="container">
      <div class="boxed home-intro-whatis">
        <div class="boxed-inner">
          <h2>What is Real Help Doncaster?</h2>
          <p><strong>Real Help pays for practical items individuals need to build independent lives away from the streets.</strong></p>
          <p>If everyone who lives, works or visits Doncaster donates, together we can make a Real Help to ending homelessness!</p>
          <a class="button button-primary d-block" href="#">Changing the way you GIVE here</a>
        </div>
        <div class="boxed-media aspect aspect-1by1">
          <img alt="" class="aspect-item" src="assets/uploads/home-intro-whatis.jpg">
        </div>
      </div>
      <div class="home-intro-split">
        <div class="boxed home-intro-who">
          <div class="boxed-inner">
            <h2>Who does Real Change help?</h2>
            <p><strong>The Real Change fund supports individuals who are homeless by paying for items they need -</strong> a deposit for a home, a training course, clothes for a job interview, furnishing for a new flat, or travel costs.</p>
            <p><a href="#">Find out more about how Real Change works and how the money is spent.</a></p>
          </div>
        </div>
        <div class="boxed home-intro-apply">
          <div class="boxed-inner">
            <h2>How can you apply?</h2>
            <p>If your organisation provides a service to support people who are sleeping rough, homeless or at risk of homelessness in Doncaster and you would like to discuss how to become an approved Real Help partner, please contact us at: email <a href="#">info@realhelpdoncaster.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-rh-grey-light home-partners">
    <div class="container">
      <div class="home-partners-header">
        <h2 class="h1 home-partners-title">Help from our Partners</h2>
      </div>
      <div class="home-partners-media">
        <div class="aspect aspect-3by1">
          {{!-- <iframe src="https://www.youtube.com/embed/pjxX5ndMCDo?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe> --}}
          <img alt="" src="assets/uploads/homepage-banner-20181026.png">
        </div>
      </div>
      <div class="home-partners-body">
        <p><strong>If you are sleeping rough, homeless or at risk of homelessness in Doncaster and want to apply for funds, get in touch with one of our partner organisations who will work with you to apply for funds on your behalf.</strong></p>
        <p>Real Help Doncaster currently works in partnership with the following organisations:</p>
        <ul class="list-flex font-weight-bold">
          <li><a href="#" target="_blank">DMBC</a></li>
          <li><a href="#" target="_blank">Healthwatch</a></li>
          <li><a href="#" target="_blank">Doncaster Mind</a></li>
          <li><a href="#" target="_blank">St Ledger Homes</a></li>
          <li><a href="#" target="_blank">Changing Lives</a></li>
          <li><a href="#" target="_blank">Aspire</a></li>
          <li><a href="#" target="_blank">Riverside</a></li>
          <li><a href="#" target="_blank">Big Issue North</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>

{{> footer footer__body="true" footer__logo="true" }}