---
title: "Content"
layout: default
---
{{> header header__nav=true }}

{{> hero
    hero__classes=false
    hero__pretitle=false
    hero__title="Content Page"
    hero__subtitle=false
    hero__body=false
    hero__button__text=false
}}

<div id="main">
  <div class="section">
    <div class="container">
      <div class="content">
        <h1>Content Page</h1>
        <p class="body-lg">This is the Real Help Privacy Policy.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h2>Heading level 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reprehenderit incidunt ducimus velit id, obcaecati quisquam voluptatum iure. Accusamus, eum.</p>
        <p>Ad tempore omnis, totam sit, nostrum enim excepturi. Recusandae dignissimos at id eaque dolore voluptates, laborum aperiam cupiditate illum similique cum exercitationem!</p>
        <h3>Heading level 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reprehenderit incidunt ducimus velit id, obcaecati quisquam voluptatum iure. Accusamus, eum.</p>
        <p>Ad tempore omnis, totam sit, nostrum enim excepturi. Recusandae dignissimos at id eaque dolore voluptates, laborum aperiam cupiditate illum similique cum exercitationem!</p>
        <a class="button button-primary d-block d-sm-inline-block" href="#">Button</a>
      </div>
    </div>
  </div>

  <section class="section bg-rh-grey-light">
    <div class="container">
      <div class="content">
        <h3>Heading level 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reprehenderit incidunt ducimus velit id, obcaecati quisquam voluptatum iure. <a href="#">Accusamus, eum</a>.</p>
      </div>
    </div>
  </section>
</div>

{{> footer footer__body="true" footer__logo="true" }}