---
title: "How to Apply"
layout: default
header_nav_howtoapply: true
---
{{> header header__nav=true }}

{{> hero
    hero__classes=false
    hero__pretitle="Real Help Doncaster"
    hero__title="How to apply"
    hero__subtitle=false
    hero__body=false
    hero__button__text=false
}}

<div id="main">
  <div class="section">
    <div class="container">
      <div class="content">
        <p><strong>If you think this support can help you and you want to apply for funds, get in touch with one of our partner organisations who will work with you to apply:</strong></p>
        <p>APPLICATIONS WILL BE OPEN IN EARLY DECEMBER</p>
        <hr>
        <ul class="list-flex font-weight-bold">
          <li><a href="http://www.aspire.community/" target="_blank">Aspire</a></li>
          <li><a href="https://www.changing-lives.org.uk/services/" target="_blank">Changing Lives</a></li>
          <li><a href="http://doncastermind.org.uk/" target="_blank">Doncaster Mind </a></li>
          <li><a href="https://urcyorkshire.org.uk/churchfinder/churches/hall-gate-urc/" target="_blank">Hall Gate United Reform Church</a></li>
          <li><a href="https://www.riverside.org.uk/care-and-support/" target="_blank">Riverside</a></li>
          <li><a href="https://www.stlegerhomes.co.uk/looking-for-a-home/housing-options-and-homelessness/" target="_blank">St Ledger</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section class="section bg-rh-grey-light">
    <div class="container">
      <div class="content">
        <h3>Become a Partner?</h3>
        <p>If your organisation provides support to people who are homeless or at risk of becoming homeless in Doncaster and you would like to discuss how to become an approved Real Help partner to contribute to the action group and access the application process, please contact us at:</p>
        <p>Email: <strong><a href="#">info@realhelpdoncaster.org</a></strong></p>
      </div>
    </div>
  </section>
</div>

{{> footer footer__body="true" footer__logo="true" }}