---
title: "How it Works"
layout: default
header_nav_howitworks: true
---
{{> header
  header__classes="decor decor-bottom decor-rc-sunny"
  header__style=false
  header__nav=true
  header__hero=true
  header__hero__text='Real Change in Oldham <strong>How it Works</strong>'
}}

<div id="main">
  <div class="section">
    <div class="container">
      <div class="content text-center">
        <p class="body-lg"><strong>Real change is a fund for Oldham that pays for items that local people need to get off and stay off the street.</strong></p>
        <a class="button button-primary d-block d-sm-inline-block mb-sm mt-md" href="#">Donate and make a real change</a>
      </div>
    </div>
  </div>

  <div class="section bg-rc-sunny edge edge-top edge-rc-sunny-top">
    <div class="container">
      <div class="content">
        <div class="howitworks-stats">
          <div class="howitworks-stats-body">
            <h2>Where does the money go?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="stats">
              <div class="stat">
                <div class="stat-img">
                  <img alt="85%" src="assets/uploads/howitworks-stat-85.png">
                </div>
                <div class="stat-body">
                  <p><strong class="stat-count">85% </strong> Goes to the individual</p>
                </div>
              </div>
              <div class="stat">
                <div class="stat-img">
                  <img alt="10%" src="assets/uploads/howitworks-stat-10.png">
                </div>
                <div class="stat-body">
                  <p><strong class="stat-count">10% </strong>  Goes to the running of Real Change</p>
                </div>
              </div>
              <div class="stat">
                <div class="stat-img">
                  <img alt="5%" src="assets/uploads/howitworks-stat-5.png">
                </div>
                <div class="stat-body">
                  <p><strong class="stat-count">5% </strong> Goes to Just Giving</p>
                </div>
              </div>
            </div>
          </div>
          <div class="howitworks-stats-media aspect aspect-1by1">
            <img alt="" src="assets/uploads/howitworks-stats.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section bg-rc-moss pre-footer-withcityscape edge edge-top edge-rc-moss-top">
    <div class="container">
      <div class="content">
        <h3>{{> icon-checked icon-checked__height="44" icon-checked__width="44" }}  How will my donation be spent?</h3>
        <p>Your donation joins the central Real Change funding pot. <strong><a href="#">Local charities</a></strong> and organisations work directly with individuals who are homeless, and apply for funds to pay for items they need. Depending on the amount needed, there are two levels of fund requests:</p>
        <div class="cards cards-2up">
          <div class="card bg-white">
            <div class="card-header bg-rc-spark text-white edges edges-nobottom edges-rc-moss">
              <h3 class="card-title">Under £100</h3>
              <p><strong>(e.g. Education or training courses, furniture or househould items, clothes for interviews)</strong></p>
            </div>
            <div class="card-body edges edges-notop edges-rc-moss">
              <p>If the request is for under £100, Real Change partner agencies can submit an online application.</p>
              <p>This excludes cash, emergency accommodation, food or other items which are available for free elsewhere.</p>
            </div>
          </div>
          <div class="card bg-white">
            <div class="card-header bg-rc-spark text-white edges edges-nobottom edges-rc-moss">
              <h3 class="card-title">Over £100</h3>
              <p><strong>(e.g. Deposit or rent, furnishings for a flat, white goods over £100)</strong></p>
            </div>
            <div class="card-body edges edges-notop edges-rc-moss">
              <p>If the request is for over £100, the application must be agreed by the Real Change panel.</p>
              <p>The Real Change panel includes: Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sti amet.</p>
            </div>
          </div>
        </div>
        <div class="text-center mt-sm">
          <a class="button button-primary d-block d-sm-inline-block mb-sm" href="#">Donate and make a real change</a>
        </div>
      </div>
    </div>
  </section>
</div>

{{> footer footer__bodyorlogo="true" footer__body="true" footer__logo="true" footer__classes="footer-withcityscape" }}
