---
title: "Get Involved"
layout: default
header_nav_getinvolved: true
---
{{> header
  header__classes="decor decor-bottom decor-rc-sunny"
  header__style=false
  header__nav=true
  header__hero=true
  header__hero__text='Real Change in Oldham <strong>Get Involved</strong>'
}}

<div id="main">
  <div class="section">
    <div class="container">
      <div class="content">
        <h2>Sub head goes here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="button button-primary d-block d-sm-inline-block" href="#">Button</a>
      </div>
    </div>
  </div>

  <section class="section bg-rc-sunny pre-footer-withcityscape edge edge-top edge-rc-sunny-top">
    <div class="container">
      <div class="content">
        <h2>Section title</h2>
        <div class="getinvolved-section">
          <div class="getinvolved-section-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="getinvolved-section-media aspect aspect-4by3">
            <img alt="" src="assets/uploads/blank-4by3.png">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{> footer footer__bodyorlogo="true" footer__body="true" footer__logo="true" footer__classes="footer-withcityscape" }}
