---
title: "Button | Styleguide"
layout: styleguide
---
<div class="container">

  <nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
      <li><a href="index.html">Real Change</a></li>
      <li><a href="index.html#Components">Components</a></li>
      <li class="active"><a href="styleguide-button.html" aria-current="page">Button</a></li>
    </ul>
  </nav>

  <section class="styleguide-section">
    <div class="styleguide-intro">
      <h1>Button</h1>
      <p>A simple button, in two colors.</p>
    </div>
  </section>

  <section class="styleguide-section">
    <div class="styleguide-example">
      <p><a class="button" href="#">Button</a></p>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;a class=&#x22;button&#x22; href=&#x22;#&#x22;&#x3E;Button&#x3C;/a&#x3E;</code></pre>
    </div>

    <h3 class="styleguide-h3">Button elements</h3>
    <div class="styleguide-example">
      <a class="button" href="#">Anchor</a>
      <button class="button">Button</button>
      <input class="button" type="submit" value="Submit input">
      <input class="button" type="reset" value="Reset input">
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;a class=&#x22;button&#x22; href=&#x22;#&#x22;&#x3E;Anchor&#x3C;/a&#x3E;
&#x3C;button class=&#x22;button&#x22;&#x3E;Button&#x3C;/button&#x3E;
&#x3C;input class=&#x22;button&#x22; type=&#x22;submit&#x22; value=&#x22;Submit input&#x22;&#x3E;
&#x3C;input class=&#x22;button&#x22; type=&#x22;reset&#x22; value=&#x22;Reset input&#x22;&#x3E;</code></pre>
    </div>

    <h3 class="styleguide-h3">Button colors</h3>
    <div class="styleguide-example">
      <p>
        <a class="button button-primary" href="#">Primary</a>
      </p>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;a class=&#x22;button button-primary&#x22; href=&#x22;#&#x22;&#x3E;Primary&#x3C;/a&#x3E;</code></pre>
    </div>

    <h3 class="styleguide-h3">Button using display utilities</h3>
    <div class="styleguide-example">
      <p>Button block<br> <a class="button button-primary d-block" href="#">Button block</a></p>
      <p>Button block mobile, inline-block from small<br> <a class="button button-primary d-block d-sm-inline-block" href="#">Button block</a></p>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;a class=&#x22;button button-primary d-block&#x22; href=&#x22;#&#x22;&#x3E;Primary&#x3C;/a&#x3E;
&#x3C;a class=&#x22;button button-primary d-sm-inline-block&#x22; href=&#x22;#&#x22;&#x3E;Primary&#x3C;/a&#x3E;</code></pre>
    </div>

  </section>

</div>