---
title: "Colours | Styleguide"
layout: styleguide
---
<div class="container">

  <nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
      <li><a href="index.html">Real Help</a></li>
      <li><a href="index.html#Components">Components</a></li>
      <li class="active"><a href="styleguide-colours.html" aria-current="page">Colours</a></li>
    </ul>
  </nav>

  <section class="styleguide-section">
    <div class="styleguide-intro">
      <h1>Colours</h1>
      <p>Background and Text colour classes available.</p>
    </div>
  </section>

  <section class="styleguide-section">

    <div class="styleguide-example">
      <div class="d-flex">
        <div class="styleguide-colours-bg">
          <div class="bg-black text-white">.bg-black</div>
          <div class="bg-white text-black">.bg-white</div>
          <div class="bg-rh-black text-white">.bg-rh-black</div>
          <div class="bg-rh-yellow">.bg-rh-yellow</div>
          <div class="bg-rh-blue">.bg-rh-blue</div>
          <div class="bg-rh-grey-light">.bg-rh-grey-light</div>
          <div class="bg-rh-pink">.bg-rh-pink</div>
          <div class="bg-primary">.bg-primary</div>
        </div>
        <div class="styleguide-colours-bg">
          <div class="text-black">.text-black</div>
          <div class="bg-black text-white">.text-white</div>
          <div class="text-rh-black">.text-rh-black</div>
          <div class="text-rh-yellow">.text-rh-yellow</div>
          <div class="text-rh-blue">.text-rh-blue</div>
          <div class="bg-rh-black text-rh-grey-light">.text-rh-grey-light</div>
          <div class="text-rh-pink">.text-rh-pink</div>
          <div class="text-primary">.text-primary</div>
        </div>
      </div>
    </div>

  </section>

</div>