---
title: "Typography | Styleguide"
layout: styleguide
---
<div class="container">

  <nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
      <li><a href="index.html">Real Change</a></li>
      <li><a href="index.html#Components">Components</a></li>
      <li class="active"><a href="styleguide-typography.html" aria-current="page">Typography</a></li>
    </ul>
  </nav>

  <section class="styleguide-section">
    <div class="styleguide-intro">
      <h1>Typography</h1>
      <p>Examples for Real Change typography, headings, body text, lists...</p>
    </div>
  </section>

  <section class="styleguide-section">

    <h2 class="styleguide-h2">Headings</h2>
    <div class="styleguide-example">
      <p class="h6">Heading text font is <strong class="h4">LunchBox</strong></p>
      <table class="styleguide-table mb-md" width="100%">
        <thead>
          <tr>
            <th>Header</th>
            <th>Family</th>
            <th>Default</th>
            <th>Medium and up</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="h1">h1</td>
            <td>LunchBox Bold</td>
            <td>48px</td>
            <td>58px</td>
          </tr>
          <tr>
            <td class="h2">h2</td>
            <td>LunchBox Bold</td>
            <td>30px</td>
            <td>34px</td>
          </tr>
          <tr>
            <td class="h3">h3</td>
            <td>LunchBox Bold</td>
            <td>28px</td>
            <td>30px</td>
          </tr>
          <tr>
            <td class="h4">h4</td>
            <td>LunchBox Bold</td>
            <td>26px</td>
            <td>28px</td>
          </tr>
          <tr>
            <td class="h5">h5</td>
            <td>LunchBox Regular</td>
            <td>26px</td>
            <td>28px</td>
          </tr>
          <tr>
            <td class="h6">h6</td>
            <td>LunchBox Light</td>
            <td>26px</td>
            <td>28px</td>
          </tr>
        </tbody>
      </table>
      <h1>Heading Level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      <h6>Heading Level 6</h6>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;h1&#x3E;Heading Level 1&#x3C;/h1&#x3E;
&#x3C;h2&#x3E;Heading Level 2&#x3C;/h2&#x3E;
&#x3C;h3&#x3E;Heading Level 3&#x3C;/h3&#x3E;
&#x3C;h4&#x3E;Heading Level 4&#x3C;/h4&#x3E;
&#x3C;h5&#x3E;Heading Level 5&#x3C;/h5&#x3E;
&#x3C;h6&#x3E;Heading Level 6&#x3C;/h6&#x3E;</code></pre>
    </div>

    <h2 class="styleguide-h3">Paragraphs and Body</h2>
    <div class="styleguide-example">
      <p>Body text font is <strong>Barlow Semi Condensed</strong></p>
      <p>Body 18px - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quibusdam quis laboriosam voluptates voluptas itaque enim aliquid explicabo incidunt quidem! Eligendi suscipit animi est, totam numquam veniam sit vero aliquid qui facere voluptatum quisquam repudiandae architecto ad ut distinctio tenetur.</p>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;p&#x3E;Body text font is &#x3C;strong&#x3E;Barlow Semi Condensed&#x3C;/strong&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;Body 18px - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quibusdam quis laboriosam voluptates voluptas itaque enim aliquid explicabo incidunt quidem! Eligendi suscipit animi est, totam numquam veniam sit vero aliquid qui facere voluptatum quisquam repudiandae architecto ad ut distinctio tenetur.&#x3C;/p&#x3E;</code></pre>
    </div>

    <h2 class="styleguide-h3">Inline text elements</h2>
    <div class="styleguide-example">
      <p>You can use the mark tag to <mark>highlight</mark> text.</p>
      <p><del>This line of text is meant to be treated as deleted text.</del></p>
      <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
      <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
      <p><u>This line of text will render as underlined</u></p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p><strong>This line rendered as bold text.</strong></p>
      <p><em>This line rendered as italicized text.</em></p>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;p&#x3E;You can use the mark tag to &#x3C;mark&#x3E;highlight&#x3C;/mark&#x3E; text.&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;del&#x3E;This line of text is meant to be treated as deleted text.&#x3C;/del&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;s&#x3E;This line of text is meant to be treated as no longer accurate.&#x3C;/s&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;ins&#x3E;This line of text is meant to be treated as an addition to the document.&#x3C;/ins&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;u&#x3E;This line of text will render as underlined&#x3C;/u&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;small&#x3E;This line of text is meant to be treated as fine print.&#x3C;/small&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;strong&#x3E;This line rendered as bold text.&#x3C;/strong&#x3E;&#x3C;/p&#x3E;
&#x3C;p&#x3E;&#x3C;em&#x3E;This line rendered as italicized text.&#x3C;/em&#x3E;&#x3C;/p&#x3E;</code></pre>
    </div>

    <h2 class="styleguide-h3">Lists</h2>
    <div class="styleguide-example">
      <h3>List Unstyled</h3>
      <ul class="list-unstyled">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
          <ul>
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
          </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;ul class=&#x22;list-unstyled&#x22;&#x3E;
  &#x3C;li&#x3E;Lorem ipsum dolor sit amet&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Consectetur adipiscing elit&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Integer molestie lorem at massa&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Facilisis in pretium nisl aliquet&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Nulla volutpat aliquam velit
    &#x3C;ul&#x3E;
      &#x3C;li&#x3E;Phasellus iaculis neque&#x3C;/li&#x3E;
      &#x3C;li&#x3E;Purus sodales ultricies&#x3C;/li&#x3E;
      &#x3C;li&#x3E;Vestibulum laoreet porttitor sem&#x3C;/li&#x3E;
      &#x3C;li&#x3E;Ac tristique libero volutpat at&#x3C;/li&#x3E;
    &#x3C;/ul&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li&#x3E;Faucibus porta lacus fringilla vel&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Aenean sit amet erat nunc&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Eget porttitor lorem&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>
    </div>

    <div class="styleguide-example">
      <h3>List Bulleted</h3>
      <ul class="list-bulleted">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
          <ul>
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
          </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;ul class=&#x22;list-bulleted&#x22;&#x3E;
  &#x3C;li&#x3E;Lorem ipsum dolor sit amet&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Consectetur adipiscing elit&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Integer molestie lorem at massa&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Facilisis in pretium nisl aliquet&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Nulla volutpat aliquam velit
    &#x3C;ul&#x3E;
      &#x3C;li&#x3E;Phasellus iaculis neque&#x3C;/li&#x3E;
      &#x3C;li&#x3E;Purus sodales ultricies&#x3C;/li&#x3E;
      &#x3C;li&#x3E;Vestibulum laoreet porttitor sem&#x3C;/li&#x3E;
      &#x3C;li&#x3E;Ac tristique libero volutpat at&#x3C;/li&#x3E;
    &#x3C;/ul&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li&#x3E;Faucibus porta lacus fringilla vel&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Aenean sit amet erat nunc&#x3C;/li&#x3E;
  &#x3C;li&#x3E;Eget porttitor lorem&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>
    </div>

    <div class="styleguide-example">
      <h3>List Flex</h3>
      <ul class="list-flex font-weight-bold">
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Consectetur adipiscing elit</a></li>
        <li><a href="#">Integer molestie lorem at massa</a></li>
        <li><a href="#">Facilisis in pretium nisl aliquet</a></li>
        <li><a href="#">Faucibus porta lacus fringilla vel</a></li>
        <li><a href="#">Aenean sit amet erat nunc</a></li>
        <li><a href="#">Eget porttitor lorem</a></li>
      </ul>
      <ul class="list-flex">
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Consectetur adipiscing elit</a></li>
        <li><a href="#">Integer molestie lorem at massa</a></li>
        <li><a href="#">Facilisis in pretium nisl aliquet</a></li>
        <li><a href="#">Faucibus porta lacus fringilla vel</a></li>
        <li><a href="#">Aenean sit amet erat nunc</a></li>
        <li><a href="#">Eget porttitor lorem</a></li>
      </ul>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;ul class=&#x22;list-flex font-weight-bold&#x22;&#x3E;
  &#x3C;li&#x3E;...&#x3C;/li&#x3E;
  &#x3C;li&#x3E;...&#x3C;/li&#x3E;
  &#x3C;li&#x3E;...&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;
&#x3C;ul class=&#x22;list-flex&#x22;&#x3E;
  &#x3C;li&#x3E;...&#x3C;/li&#x3E;
  &#x3C;li&#x3E;...&#x3C;/li&#x3E;
  &#x3C;li&#x3E;...&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>
    </div>

    <div class="styleguide-example">
      <h3>Quote</h3>
      <blockquote>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
      </blockquote>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;blockquote&#x3E;
  &#x3C;p&#x3E;“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”&#x3C;/p&#x3E;
&#x3C;/blockquote&#x3E;</code></pre>
    </div>

  </section>

</div>