---
title: "Boxed | Styleguide"
layout: styleguide
---
<div class="container">

  <nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
      <li><a href="index.html">Real Change</a></li>
      <li><a href="index.html#Components">Components</a></li>
      <li class="active"><a href="styleguide-boxed.html" aria-current="page">Boxed</a></li>
    </ul>
  </nav>

  <section class="styleguide-section">
    <div class="styleguide-intro">
      <h1>Boxed</h1>
      <p>Boxed is a simple element for containing content, think bootstrap .card</p>
      <p>The sole duty of .boxed is to give an element padding and something you can apply background color and/or decor edges.</p>
    </div>
  </section>

  <section class="styleguide-section">
    <div class="styleguide-example">
      <div class="boxed bg-rc-candy">
        <div class="boxed-inner">
          <h2>Boxed h2</h2>
          <p>Boxed paragraph, lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a class="button button-primary d-block" href="#">Block button in boxed</a>
        </div>
      </div>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;div class=&#x22;boxed bg-rc-candy&#x22;&#x3E;
  &#x3C;div class=&#x22;boxed-inner&#x22;&#x3E;
    ...
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</code></pre>
    </div>

    <h2 class="styleguide-h2">Boxed with decor edges</h2>
    <div class="styleguide-example">
      <div class="boxed edges bg-rc-candy">
        <div class="boxed-inner">
          <h2>Boxed h2</h2>
          <p>Boxed paragraph, lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a class="button button-primary d-block" href="#">Block button in boxed</a>
        </div>
      </div>
    </div>
    <div class="styleguide-code">
      <pre><code>&#x3C;div class=&#x22;boxed edges bg-rc-candy&#x22;&#x3E;
  &#x3C;div class=&#x22;boxed-inner&#x22;&#x3E;
    ...
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</code></pre>
    </div>


    <h2 class="styleguide-h2">Boxed Colors</h2>
    <p>You can apply any of the color modifiers for .boxed</p>
    <div class="styleguide-example">
      <div class="boxed bg-rc-black text-white">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-black.text-white this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-aubergine">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-aubergine - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-candy">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-candy - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-flame">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-flame - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-spark">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-spark - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-sunny">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-sunny - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-sage">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-sage - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-moss">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-moss - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-dream">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-dream - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-moss">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-moss - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-blue">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-blue - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
      <div class="boxed bg-rc-primary">
        <div class="boxed-inner">
          <h2>Boxed</h2>
          <p>This box is .boxed.bg-rc-primary - this is a <a href="#">link</a></p>
          <a class="button button-primary" href="#">Button</a>
        </div>
      </div>
    </div>

  </section>

</div>
