// Decor
//

.decor {
  position: relative;
}

.decor-bottom::after,
.decor-top::before {
  content: '';
  display: block;
  height: $decor-height;
}

.decor-bottom::after {
  background-position: 50% 0;
  background-repeat: repeat-x;
  bottom: -($decor-height / 2);
  left: 0;
  position: absolute;
  right: 0;
}

.decor-rc-sunny {
  &.decor-bottom::after {
    background-image: url(assets/decor-rc-sunny.png);
  }
}
